*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  border-style: none;
}
:root{
  --verde: #55a630;
  --vermelho: #8d0801;
  --amarelo: #ffb700;
  --azul: #48cae4;
  --escuro: #02040f;
  --claro: #fff;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--escuro);
  height: 100vh;
}

.toast-lista{
  position: fixed;
  top: 20px;
  right: 20px;
}

.toast{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--claro);
  padding: 18px 20px;
  min-width: 260px;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  overflow: hidden;
  animation: showtoast 0.5s ease forwards;
  left: calc(100% + 20px);
}
.coluna{
  margin-right: 30px;
}
.toast.sucesso i{
  color: var(--verde);
  font-size: 20px;
}
.toast.erro i{
  color: var(--vermelho);
  font-size: 20px;
}
.toast.aviso i{
  color: var(--amarelo);
  font-size: 20px;
}
.toast.info i{
  color: var(--azul);
  font-size: 20px;
}

.toast::before{
  position: absolute;
  content: "";
  background-color: var(--verde);
  height: 3px;
  width: 50%;
  bottom: 0px;
  left: 0px;
  animation: barra 5s forwards;
}

.botao{
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  color: var(--claro);
}

.botao.sucesso, .toast.sucesso::before{
  background-color: var(--verde);
}
.botao.erro, .toast.erro::before{
  background-color: var(--vermelho);
}
.botao.aviso, .toast.aviso::before{
  background-color: var(--amarelo);
}
.botao.info, .toast.info::before{
  background-color: var(--azul);
}

.hide{
  animation: hide 0.5s ease;
}


@keyframes showtoast{
  0% {left: calc(100% + 20px);}

  100%{left: -5px;}
}

@keyframes hide{
  0% {left: -5px;}

  10% {left: -15px;}

  100%{left: calc(100% + 20px);}
}

@keyframes barra{
  0%{width: 100%;}
  100%{width: 0%;}
}

